@import './styles/consts.scss';

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1300px;

	width: 100vw;

	padding: 0 10rem;
	margin: 0 auto;
}

.app__img {
	object-fit: contain;
	height: 80vh;
	position: absolute;
	top: 60vh;
	left: -50vw;
	z-index: -10;
	width: 100%;
}

.app__img_flipped {
	object-fit: contain;
	height: 80vh;
	position: absolute;
	bottom: -150vh;
	right: -50vw;
	z-index: -10;
	width: 100%;
	display: none;
}

@media screen and (max-width: 768px) {
	.app {
		padding: 0 2rem;
	}
}