$card-width: 36rem;

.carousel {
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;

	&:hover .group {
		animation-play-state: paused;
	}
}

.group {
	display: flex;
	gap: 4rem;
	align-items: center;
	will-change: transform;
	animation: scroll 20s linear infinite;
	display: flex;
	width: calc($card-width * 9);
}

.card {
	transition: transform 0.3s ease-in-out;
	width: $card-width;
	display: flex;
	justify-content: center;

	&:hover {
		transform: scale(0.98);
	}
}


@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-36rem * 3));
	}
}

@media (max-width: 860px) {
	$card-width: 25rem;

	.carousel {
		width: 100%;
	}

	.card {
		width: $card-width;
	}

	.group {
		width: calc($card-width * 9);
	}

	@keyframes scroll {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(calc(-25rem * 3));
		}
	}

}