@import '../../styles/consts.scss';
@import '../../styles/mixins.scss';

.button {
	@include flex($justify-content: center, $align-items: center);
	padding: 20px;

	border-radius: $border-radius;

	color: $color-secondary;
	background-color: $color-main;
	outline: 2px solid $color-secondary;

	font-size: 1.6rem;

	width: 100%;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: $color-secondary;
		color: $color-main;
		outline: 2px solid $color-main;
	}
}

.button_filled {
	color: $color-main;
	background-color: $color-secondary;

	&:hover {
		color: $color-secondary;
		background-color: transparent;
	}
}