@import '../../styles/consts.scss';

.page {
	min-height: 100vh;
	width: 100%;
	padding: 5rem 3rem;
	border-radius: $border-radius;

	will-change: opacity, transform;
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;

	opacity: 0;
	transform: translateY(15rem);
	height: 100vh;
}

.page.visible {
	opacity: 1;
	transform: translateY(0);
}


@keyframes scrolling {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.page__text {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	position: sticky;
	top: 2rem;
	margin-bottom: 4rem;
}

.header,
.subheader__wrapper {
	display: flex;
}

.subheader {
	width: 50%;
}

.white {
	background-color: $color-main;
	color: $color-secondary;

	.header {
		justify-content: end;
	}

	.subheader__wrapper {
		justify-content: start;
	}


}

.black {
	background-color: $color-main;
	color: $color-secondary;

	.header {
		justify-content: start;
	}

	.subheader__wrapper {
		justify-content: end;
		text-align: end;
	}
}

.stickyWrapper {
	height: 320vh;
	position: relative;
}

.sticky {
	position: sticky;
	top: 1vh;
	height: 100vh;
	overflow: hidden;
}

.hScroll {
	overflow: hidden;
	position: absolute;
	overflow: hidden;
	top: calc(6vh + 15rem);
	will-change: transform;
	transition: transform 0.2s ease;

	display: flex;
	gap: 5rem;
	padding-left: 2rem;
	align-items: center;
}