@import '../../styles/consts.scss';

.page {
	height: 100vh;
	width: 100%;
	padding: 3rem;

	border-radius: 20px;
}

.page__text {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.header,
.subheader__wrapper {
	display: flex;
}

.subheader {
	width: 50%;
}

.white {
	background-color: $color-secondary;
	color: $color-main;

	.header {
		justify-content: end;
	}

	.subheader__wrapper {
		justify-content: start;
	}


}

.black {
	background-color: transparent;
	color: $color-secondary;

	.header {
		justify-content: start;
	}

	.subheader__wrapper {
		justify-content: end;
		text-align: end;
	}
}