@import "../../styles/consts.scss";
@import "../../styles/mixins.scss";

.block {
  @include flex(column, 3rem);
  color: $color-secondary;
  background: linear-gradient(120deg, #060606, #2d2d308a);
  border-radius: $border-radius;
  width: 100%;
  padding: 3rem 5rem 5rem;
}

.block__header {
  @include flex(column, 2rem, center);
  height: 10%;
}

.logo {
  display: block;
  margin: 0 auto;
  max-height: 90px;
}

.list {
  @include flex(column, 1.2rem);
  position: relative;
  opacity: 0.9;
  height: 100%;
}

.item {
  font: $font-small;
  font-weight: 300;

  padding-left: 35px;
  list-style-type: none;

  &::before {
    content: "—";
    color: $color-secondary2;
    position: absolute;
    left: 0;
  }
}