@import '../../styles/consts.scss';
@import '../../styles/mixins.scss';

.partners {
	@include flex(column, 3rem);
	position: relative;
	margin-top: 5rem;
	transition: height 0.3s ease-out;
}

.description {
	border-radius: 20px;
	background-color: $color-main2;
	padding: 4rem;
	@include flex(column, 4rem);
}

.points {
	@include flex(column, 1rem, space-between);
	color: $color-secondary2
}

.point {
	display: flex;
	margin-bottom: 1.6rem;

	&::before {
		content: "—";
		flex-shrink: 0;
		margin-right: 8px;
	}
}