@import '../../styles/mixins.scss';
@import '../../styles/consts.scss';

.images {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center
}

.teamPage {
	@include flex(column, 5rem);
}

.team__info {
	border: 1px solid $color-secondary2;
	border-left: none;
	border-radius: $border-radius;
	padding: 2rem;

	* {
		font-weight: 200;
	}

	position: relative;

	p {
		margin-left: 35px;
	}
	p::before {
		content: "—";
		color: $color-secondary2;
		position: absolute;
		left: 25px;
	}
}

.team {
	@include flex(row, 2rem, space-evenly);
	width: 100%;
}

.img__square {
	width: 20rem;
	height: 20rem;
	border-radius: 20px;
	object-fit: cover;
}

.image__rect {
	height: 30rem;
	object-fit: contain;
	border-radius: 20px;
	padding: 1rem 0;
}

.docs {
	@include flex(row, 2rem, space-between);
	flex-wrap: wrap;
}

@media (max-width: 860px) {
	.images {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.team {
		flex-direction: row;
	}

	.img__square {
		width: 15rem;
		height: 15rem;
	}

	.image__rect {
		height: 50vh;
	}
}

@media screen and (max-width: 768px) {
	.team {
		flex-direction: column;
		align-items: center;
	}
}