.carousel {
	// margin: 0 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;

	&:hover .group {
		animation-play-state: paused;
	}
}

.group {
	display: flex;
	gap: 4rem;
	align-items: center;
	will-change: transform;
	animation: scroll 20s linear infinite;
	display: flex;
	width: calc(36rem * 9);
	// padding-right: 4rem;
}

.card {
	transition: transform 0.3s ease-in-out;
	width: 36rem;
	display: flex;
	justify-content: center;

	&:hover {
		transform: scale(0.98);
	}
}


@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-36rem * 3));
	}
}