@import '../../styles/mixins.scss';
@import '../../styles/consts.scss';

.header {
	@include flex(row, 2rem, space-around, center);
	padding: 20px 20px 0;
	width: 100%;
	background-color: $color-main;
	height: fit-content;
}

.header_top {
	width: 100%;
}

.header_nav {
	@include flex(row, 2rem, space-around);
	color: $color-secondary;
	flex-grow: 2;

	a {
		font-weight: lighter;
		font-size: $font-small;
		transition: color 0.2s ease;

		&:hover {
			color: $color-transparent;
		}
	}
}

@media (max-width: 860px) {
	.header_top {
		z-index: 100;
		@include flex(row, 4rem, space-between, center);
	}

	.header {
		padding: 20px 0 0;
	}

	.header_nav {
		@include flex(column, 3rem, flex-start, center);
		height: 100lvh;
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		padding: 13rem 3rem 0 ;
		background: $color-main;
		display: none;

		&.open {
			display: flex;
		}
	}

	.header_nav a {
		font: 1.6rem "Inter", sans-serif;
		font-weight: 300;
		color: $color-secondary2;
	}


	.burger {
		@include flex(column, $justify-content: space-between);
		width: 25px;
		height: 20px;
		cursor: pointer;
	}

	.burger span {
		height: 1px;
		border-radius: 20px;
		width: 100%;
		background: $color-secondary;
		transition: all 0.3s ease-in-out;
	}

	.burgerOpen:nth-child(1) {
		transform: rotate(50deg) translateY(13px);
	}

	.burgerOpen:nth-child(2) {
		opacity: 0;
	}

	.burgerOpen:nth-child(3) {
		transform: rotate(-45deg) translateY(-15px);
	}

}