@import '../../styles/mixins.scss';
@import '../../styles/consts.scss';

.block {
  @include flex(column, 6rem, space-between);
  padding: 5rem ;

  margin: 0 auto;

  color: $color-main;
  background-color: $color-secondary2;
  border-radius: $border-radius;

  background-image: url(/public/images/backgrounds/light_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.points {
  @include flex(column, 2rem, space-between);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 6rem;
  position: relative;
}

.header {
  font-weight: 500;
  font-family: Merriweather, sans-serif;
}

.point {
  @include flex(column, 1rem);
  text-align: left;
}

.description {
  color: $color-main2;
}

.footnote {
  color: $color-footprint;
  font-family: Merriweather, sans-serif;
  font-size: 1rem;
  font-style: italic;
}

.link {
  display: block;
  margin-top: 1rem;
  width: fit-content;
  color: $color-highlight;
  font-size: 90%;

  &:hover {
    text-decoration: underline;
  }
}