$color-main: RGB(31, 31, 33);
$color-secondary: #FFFFFF;
$color-highlight: #FBC940;
$color-transparent: #95929C;

$font-header: 5rem 'Merriweather', sans-serif;
$font-subheader: 2.3rem 'Merriweather', sans-serif;
$font-small: 2rem 'Inter', sans-serif;

$border-radius: 20px;