$color-main: #060606;
$color-secondary: #FFFFFF;
$color-highlight: #FBC940;

$font-header: 6rem 'Merriweather', sans-serif;
$font-subheader: 2.5rem 'Merriweather', sans-serif;
$font-small: 2rem 'Inter', sans-serif;