$color-main2: #2d2d308a;
$color-main: #060606;
$color-secondary: #FFFFFF;
$color-secondary2: rgba(241, 240, 245);
$color-highlight: rgb(249, 175, 30);;
$color-transparent: #95929C;
$color-footprint: #747474;

$font-header: 4rem 'Merriweather', sans-serif;
$font-h3: 2.56rem 'Merriweather', sans-serif;
$font-h4: 1.84rem 'Merriweather', sans-serif;
$font-small: 1.44rem 'Inter', sans-serif;

$border-radius: 20px;

$font-header-860px: 4rem 'Merriweather', sans-serif;
$font-h3-860px: 2.2rem 'Merriweather', sans-serif;
$font-h4-860px: 1.6rem 'Merriweather', sans-serif;
$font-small-860px: 1.4rem 'Inter', sans-serif;

$font-header-640px: 3.5rem 'Merriweather', sans-serif;